<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Meta tags -->
    <jcms:site:seotitle/>
    <!-- Fevicon -->
    <jcms:site:fevicon/>
    <!-- Css -->
    <link rel="stylesheet" href='https://unpkg.com/flickity@2/dist/flickity.min.css'>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/font.awesome.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/magnific.popup.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.css" type="text/css">
    <link rel="stylesheet" href="assets/css/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/responsive.css" type="text/css">
    <!-- Google Fonts -->
    <!--<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic&amp;subset=latin,latin-ext' rel="stylesheet" type="text/css">    -->
    <!--<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&amp;subset=latin,latin-ext' rel="stylesheet" type="text/css">        -->
</head>

<body>
    <!-- Site Back Top -->
    <div class="site-backtop" title="Back to top">
    	<i class="fa fa-angle-up"></i>
    </div>
    <!-- Site Back Top End -->

    <!-- Site Header -->
    <div class="site-header">
        <!-- Header Top -->
        <div class="header-top">
            <div class="header-contact">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <jcms:module:menu-right/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="header-logo">
                            <!-- Module -->
                            <jcms:site:logo/>
                        </div>
                    </div>

                    <div class="col-md-9">
                         <jcms:module:res-menu/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom End -->
    </div>
    <!-- Site Header End -->

    <!-- Site Main -->
    <jcms:module:bookpkg_detail/>
    <!-- Site Main End -->

    <!-- Site Footer -->
    <div class="site-footer">
        <!-- Footer Top -->
        <div class="footer-bottom">
            <!-- Location module -->
            <jcms:module:footer-location/>
        </div>
        <!-- Footer Top End -->
    </div>
    <!-- Site Footer End -->

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.fitvids.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/magnific.popup.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/booking.form.js"></script>
    <script src="assets/js/contact.form.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js'></script>
    <script type="text/javascript">
        $('.main-carousel').flickity({
      // options
      cellAlign: 'right',
      contain: true,
      pageDots:true,
      prevNextButtons: false,
    });

    </script>
    <script>
        var base_url = jQuery('base').attr('url');
        // Package Booking form
        if(jQuery("form#frm-booking")[0]) {

            jQuery("form#frm-booking")[0].reset();
            jQuery('input[name="no_pax[]"]').keyup(function () {
                this.value = this.value.replace(/[^0-9\.]/g,'');
            });
            jQuery(document).on('change', 'input[name="multi_item[]"]', function() {
    var _parent = jQuery(this).parents("tr.parent");
    var multi_item = jQuery(this).val();

    var result = multi_item.split('|');
    if($(this).is(':checked')){
        _parent.find('input[name="no_pax[]"]').prop('disabled',false);
        _parent.find('input[name="no_pax[]"]').val('1');
        _parent.find('.row_total').text(result[1]);
        _parent.find('.row_hidden').val(result[1]);
    }
    else{
        _parent.find('input[name="no_pax[]"]').prop('disabled',true);
        _parent.find('input[name="no_pax[]"]').val('');
        _parent.find('.row_total').text('');
        _parent.find('.row_hidden').val('');
    }
    totalmultiamt();
});
jQuery(document).on('change', 'input[name="no_pax[]"]', function() {
    var _parent = jQuery(this).parents("tr.parent");
    var multi_price = _parent.find('input[name="multi_item[]"]').val();
    var pax = jQuery(this).val();

    var result = multi_price.split('|');

    var e= parseFloat(result[1] * pax);
    _parent.find('.row_total').text(e);
    _parent.find('.row_hidden').val(e);
    totalmultiamt();


});

            jQuery(document).on('blur', 'input[name="no_pax[]"]', function() {
                var _parent = jQuery(this).parents("tr.parent");
                var pax = jQuery(this).val();
                var price =  _parent.find('input[name="package_price[]"]').val();
                if(pax!='') {
                    var totamt = (parseInt(pax)*parseInt(price));
                    _parent.find('td.totalamt').html(totamt);
                }else {
                    _parent.find('td.totalamt').html(0);
                }
                totalpkgamt();
            });

            jQuery(document).on('change', 'select[name="no_pax[]"]', function() {
                var _parent = jQuery(this).parents("tr.parent");
                var pax = jQuery(this).val();
                var price =  _parent.find('input[name="package_price[]"]').val();
                var dis =  _parent.find('input[name="package_discount[]"]').val();
                if(dis!=0){
                    if(pax==1){
                        var disamt = 0;

                    }else{
                        var disamt = (parseInt(price)*parseInt(pax)*parseInt(dis))/100;
                    }
                    jQuery('td.discountamt').html(disamt);
                }
                if(pax!='') {
                    var totamt = (parseInt(pax)*parseInt(price));
                    _parent.find('td.totalamt').html(totamt);
                }else {
                    _parent.find('td.totalamt').html(0);
                }
                totalpkgamt();
            });

            /*jQuery(document).on('change', 'select[name="no_pax[]"]', function() {
                var _parent = jQuery(this).parents("tr.parent");
                var pax = jQuery(this).val();
                var price =  _parent.find('input[name="package_price[]"]').val();
                var dis =  _parent.find('input[name="package_discount[]"]').val();
                var child = _parent.find('select[name="no_child[]"]').val();
                if(dis!=0){
                    var disamt = (parseInt(price)*parseInt(pax)*parseInt(dis))/100;
                    jQuery('td.discountamt').html(disamt);
                }
                if(child>0){
                    pax = parseInt(pax) + parseInt(child);
                    var disamt = (parseInt(price) * parseInt(pax) * parseInt(dis)) / 100;
                    jQuery('td.discountamt').html(disamt);
                }
                if(pax!='') {
                    var totamt = (parseInt(pax)*parseInt(price));
                    _parent.find('td.totalamt').html(totamt);
                }else {
                    _parent.find('td.totalamt').html(0);
                }
                if(pax==3){
                    _parent.find('select[name="no_child[]"]').prop('disabled', 'disabled');
                }else{
                    _parent.find('select[name="no_child[]"]').prop('disabled', false);
                }
                totalpkgamt();
            });*/

            /*jQuery(document).on('change', 'select[name="no_child[]"]', function() {
                var _parent = jQuery(this).parents("tr.parent");
                var pax = jQuery(this).val();
                var price =  _parent.find('input[name="package_price[]"]').val();
                var dis =  _parent.find('input[name="package_discount[]"]').val();
                var adults = _parent.find('select[name="no_pax[]"]').val();
                if (dis != 0) {
                    var disamt = (parseInt(price) * parseInt(pax) * parseInt(dis)) / 100;
                    jQuery('td.discountamt').html(disamt);
                }
                if(adults > 0){
                    pax = parseInt(pax) + parseInt(adults);
                    var disamt = (parseInt(price) * parseInt(pax) * parseInt(dis)) / 100;
                    jQuery('td.discountamt').html(disamt);
                }
                if(pax!='') {
                    var totamt = (parseInt(pax)*parseInt(price));
                    _parent.find('td.totalamt').html(totamt);
                }else {
                    _parent.find('td.totalamt').html(0);
                }
                totalpkgamt();
            });*/

            jQuery('#person_checkin').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd',
                minDate: '0',
                maxDate: '+2Y'
            });

              jQuery("form#frm-booking").validate({
                errorElement: 'span',
                errorClass: 'validate-has-error',
                rules: {
                    radio_type:{ required: true},
                    'no_pax[]': { required: true },
                    person_checkin: { required: true },
                    person_first: { required: true },
                    person_last: { required: true },
                    person_contact: { required: true , number: true},
                    person_email: { required: true, email: true },
                    person_address: { required: true },
                    person_country: { required: true },
                    person_city: { required: true },
                    // person_zpicode: { required: true },
                    /*person_message: { required: true },*/
                    userstring:{
                        required:true,
                        minlength:5,
                        remote: {
                            url: base_url+"captcha/checkcaptcha.php",
                            type: "post"
                        }
                    }
                },
                messages:{
                    radio_type: { required: 'Required !' },
                    'no_pax[]': { required: 'Required !' },
                    person_checkin: { required: "Date Required !" },
        person_first: { required: "Required first name !" },
        person_last: { required: "Required last name !" },
        person_contact: { required: "Required contact no. !" },
                     person_email: {
          required: "Required email address",
          email: "Required valid email address !",
        },
                    person_address: { required: "Required address !" },
        person_country: { required: "Required country !" },
        person_city: { required: "Required city !" },
                    // person_zpicode: { required: 'Required !' },
                    // userstring:{
                    //     required: 'Required !',
                    //     minlength: 'Security Code must be at least 5 characters',
                    //     remote: "Security Code Not match"
                    // }
                },
                submitHandler:function(form){
                 var recaptcha = $("#g-recaptcha-response").val();
                if (recaptcha === "") {
                    event.preventDefault();
                    alert("Please check the recaptcha");
                    return false;
                }
                    var Frmval = $("form#frm-booking").serialize();
                    $("#pay-btn").attr("disabled","true").text('Processing...');
                    $.ajax({
                        type: "POST",
                        dataType:"JSON",
                        url: base_url+"enquery_package.php",
                        data:"action=bookingmail&"+Frmval,
                        success:function(data){
                            var msg=eval(data);
                            $("#pay-btn").removeAttr("disabled").text('Submit');
                            $('div#msg').html(msg.message).css('display','block').fadeOut(8000);
                            setTimeout(function() {
               window.location.reload();
          },5000);
                        }
                    });
                    return false;
                  }
            });
        }
        function totalpkgamt() {
        var e = 0,d=0;
        jQuery("form#frm-booking").find("td.totalamt").each(function() {
            var a = jQuery(this).text();
            e += parseFloat(a)
        });
        jQuery("form#frm-booking").find("td.discountamt").each(function() {
            var a = jQuery(this).text();
            d += parseFloat(a)
        });
        // var a = 10 * e / 100;
        e = e - d;
        jQuery("form#frm-booking").find(".grand-total").text(e);
        jQuery("form#frm-booking").find('input[name="pay_amount"]').val(e);
    }
     function totalmultiamt() {
        var e = 0,d=0;

        $(".row_total").each(function(){
            var stotal = jQuery(this).text();
            if(stotal!=''){
                e += parseFloat(stotal)
            }
            // console.log(e);
        })
        // var a = 10 * e / 100;
        // e = e - d;
        jQuery("form#frm-booking").find(".gtotal").text(e);
        jQuery("form#frm-booking").find(".gtotal").val(e);
        // jQuery("form#frm-booking").find('input[name="pay_amount"]').val(e);
    }
    </script>
    <!-- Custom Scripts -->
    <script src="assets/js/custom.js"></script>
</body>
</html>