<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Meta tags -->
    <jcms:site:seotitle/>
    <!-- Fevicon -->
    <jcms:site:fevicon/>
    <!-- Css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/font.awesome.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/magnific.popup.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.css" type="text/css">
    <link rel="stylesheet" href="assets/css/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/responsive.min.css" type="text/css">
    <!-- Google Fonts -->
    <!--<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic&amp;subset=latin,latin-ext' rel="stylesheet" type="text/css">    -->
    <!--<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&amp;subset=latin,latin-ext' rel="stylesheet" type="text/css">        -->
</head>

<body>
     <jcms:site:googleframe/>

    <!-- Site Back Top -->
    <div class="site-backtop" title="Back to top">
    	<i class="fa fa-angle-up"></i>
    </div>
    <!-- Site Back Top End -->

    <!-- Site Header -->
    <div class="site-header">
        <!-- Header Top -->
        <div class="header-bottom">
            <div class="container">
                <div class="row custom--flex">
                    <div class="col-md-3">
                        <div class="header-logo">
                            <!-- Module -->
                            <jcms:site:logo/>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <jcms:module:res-menu/>
                        <jcms:module:menu-right/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom End -->
    </div>
    <!-- Site Header End -->

    <!-- Site Main -->
    <div class="site-main site-main-white contact_margin">
        <!-- Section Page Title -->
        <div class="banner-header gallery_other_half section-padding valign bg-img innerpage2" data-background="images/static/contact-banner.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 caption">
                            <h1>Contact</h1>
                        </div>
                    </div>
                </div>
            </div>
            <jcms:module:breadcumbContact/>
        <!-- Section Page Title End -->

        <!-- Section Contact -->

                                    <jcms:module:conatact-us/>


        <!-- Section Map -->
        <div class="section">
            <div class="container">
                <div class="wrapper-full">
                    <div class="widget-google-map">
                        <!-- Google Map -->
                        <div class="map-google">
                            <!-- Location map -->
                            <style>div.point-block{pointer-events: none;}</style>
                            <jcms:module:office_map/>

                        </div>
                        <!-- Google Map End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Section Map End -->
    </div>
    <!-- Site Main End -->

    <!-- Site Footer -->
    <div class="site-footer">
        <!-- Footer Top -->
        <div class="footer-bottom">
            <!-- Location module -->
            <jcms:module:footer-location/>

        </div>
        <!-- Footer Top End -->
    </div>
    <!-- Site Footer End -->

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.fitvids.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/magnific.popup.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/booking.form.js"></script>
    <script src="assets/js/contact.form.js"></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>

    <!-- Map Scripts -->
    <!-- <script src='http://maps.google.com/maps/api/js?sensor=false&amp;language=en'></script>
    <script src="assets/js/gmap3.min.js"></script> -->

    <!-- Custom Scripts -->
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/custom.js"></script>
</body>
</html>